.history-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.history-top {
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.history-top img {
  height: 100px;
}

.history-bottom {
  height: 80%;
  position: relative;
  background: var(--color-main-a);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  color: white;
  overflow: scroll;
}

.history-video-container {
  width: 80%;
  margin: 0 auto 20px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.history-video {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .history-video-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .history-video-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
