.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-area: "main";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5vw 0 5vw;
  background: var(--color-main-a);
}

.link-icon {
  background: rgba(255, 255, 255, 0.18);
  padding: 10px;
  border-radius: 50%;
}

.link-icon:hover {
  background: var(--color-emphasis);
}
