/* NEW TRIP COMPONENT */
.newtrip {
  background-color: var(--color-main);
  color: white;
  position: absolute;
  text-align: left;
  overflow: hidden;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trip-video-container {
  max-width: 100vw;
  max-height: 100vh;
}
