.page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--color-main-a);
  font-size: var(--header-size);
}

.page-data {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-bottom {
  background: white;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}
