.profile-info-wrapper {
  padding: 0 5vw 0 5vw;
}

.profile-info-container {
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  padding: 0 0 50px 0;
}
