input[type="text"],
input[type="email"] {
  padding: 2px 8px 2px 8px;
  font-size: 16pt;
}

.splashscreen-background {
  background: url("../../assets/traffic.jpg");
  background-position: left;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.1);

  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.splashscreen {
  overflow: hidden;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.login-container {
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 4px;
  box-shadow: 8px 12px 0px 2px var(--color-emphasis);

  height: 400px;
  width: 300px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form-container > * {
  margin: 20px;
}
.login-form-container > input[type="text"] {
  padding: 2px 8px 2px 8px;
  font-size: 16pt;
}

.signup-container {
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 4px;
  box-shadow: 8px 12px 0px 2px var(--color-emphasis);

  height: fit-content;
  width: 300px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup-form-container > * {
  margin: 20px;
}
