:root {
  --color-main: rgb(30, 30, 30);
  --color-main-a: rgb(30, 30, 30, 0.7);
  --color-emphasis: rgb(132, 168, 135);
  --height-header: 10%;
  --height-footer: 5%;
}

select,
label,
input[type="text"] {
  font-size: 16pt;
  padding: 2px 8px 2px 8px;
  background: white;
}

p {
  font-size: 16pt;
}

select {
  border-bottom: 4px solid var(--color-emphasis);
}

label {
  background: transparent;
}

/* NATIVE HTML TAGS */
button {
  font-size: large;
  width: 150px;
  min-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background: white;
}

button:hover {
  background: var(--color-emphasis);
  color: white;
}

footer {
  grid-area: "footer";
}

header {
  grid-area: "header";
  font-size: calc(10pt + 2vw);
}

footer,
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-main-a);
}

.undraw {
  background: url("./assets/undrawCar.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* APP OVERALL STYLING */
.App {
  position: absolute;
  text-align: left;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "drawing"
    "main"
    "footer";
  grid-template-rows: 1fr 3fr 3fr 1fr;
}
