:root {
  --color-main: rgb(30, 30, 30);
  --color-main-a: rgb(30, 30, 30, 0.8);
  --color-emphasis: rgba(154, 60, 168, 0.619);
  --color-emphasis: var(--color-main);
  --height-header: 10%;
  --height-footer: 5%;
}

/* MISCELANEOUS */
#drivervid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 101%;
  min-height: 100%;
  z-index: -1;
  filter: blur(4px);
}

/* NATIVE HTML TAGS */
button {
  font-size: large;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background: white;
}

button:hover {
  background: var(--color-emphasis);
  color: white;
}

footer {
  grid-area: "footer";
}

header {
  grid-area: "header";
  font-size: calc(8pt + 2vw);
}

footer,
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* APP OVERALL STYLING */
.App {
  background: url("./assets/road.gif");
  background-size: cover;
  color: white;
  position: absolute;
  text-align: left;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1fr 3fr 1fr;
}
